.jobs-listed-wrapper{
	font-family: 'Nova Round';
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.jListed {
	background-color:transparent;
	border-radius:6px;
	border:1px solid #7FB832;
	cursor:pointer;
	color:#7FB832;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	width: 30%;
}
